// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';
@import 'spinners';


// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.was-changed{
    background-color: #fff7e3;
    border: 2px solid #ffd5d5;
}

.is-field{
    color: green;
    font-weight: bolder;
}